<div id="carouselExampleIndicators" class="carousel slide shadow-sm p-0 bg-body mb-3 rounded" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://occ-0-2164-58.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABaZX3--FrdYIv5C7iscHT1i5RcDSSnJ5E27Eq5uHwSBjFrJq95gIUfTKDJ00dik1w5ZaPcZByvIlzzjFOGPGf6HXmGb53m5dHQzqMUpAKCr54wCe.jpg?r=480" class="d-block w-100 image" alt="naruto">
        </div>
        <div class="carousel-item">
            <img src=https://static0.gamerantimages.com/wordpress/wp-content/uploads/2020/03/super-saiyan-god-goku-header.jpg?q=50&fit=crop&w=1800&dpr=1.5" class="d-block w-100 image" alt="goku">
        </div>
        <div class="carousel-item">
            <img src="https://s1.econotimes.com/assets/uploads/2020052949320b0359a4a6f3d_th_1024x0.jpg" class="d-block w-100 image" alt="luffy">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>