<%- layout('./layouts/boilerplate') %>

<h2 class='title'>Incorrect Password or Something Else Went Wrong</h2>
<p class='description'>
    Only people who have been provided with a password by the admin can post news.
</p>
<a class="btn btn-primary" href="/">Back to Homepage</a>