<%- layout('./layouts/boilerplate') %>
<div class="container">
    <section class="card shadow p-3 mb-3 bg-body rounded">
        <div class="title">
            <h2>
                <%= news.title %>
            </h2>
        </div>
        <div class="description">
            <%= news.description %>
        </div>
        <div class='buttons'>
            <button class='btn btn-danger button'>Delete</button>
            <a class='btn btn-info button' href="#">Edit</a>
            <a class='btn btn-primary button' href="/articles">Back to Homepage</a>
        </div>
    </section>
</div>